 @font-face {
  font-family: Orbitron;
  src: url(Orbitron-Bold.ttf);
}

html,
body {
    height: 100%;
    color: #D0D0CE;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body{
	background-color: black;
}

#content {
  height: 100%;
  width: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}
